<%= render 'shared/section_headers' %>

<div class="container">
	<div class="row">

		<%= render 'shared/messages', flash: flash %>

		<div class="col-md-4">
			<section>
				<div class="avatar">
					<a href="#" class="thumbnail bottom-15" data-toggle="modal" data-target="#upload-avatar">
					<% if @user.avatar.nil? %>
						<%= image_tag('default_avatar.jpg', options={class: "img-responsive imageborder", width: "100%", height: "100%"}) %>
					<% else %>

						<%= image_tag(@avatar.avatar.url, options={class: "img-responsive imageborder", width: "100%", height: "100%"}) %>
					<% end %>


					<div class="avatar-bubble">
						<a href="#" data-toggle="modal" data-target="#upload-avatar"><i class="fa fa-plus"></i> New avatar</a>
					</div>
				
                <!-- <div class="avatar"></div> <img src="" alt="avatar" >-->
                </div>

                <!-- Modal window: Send a private message -->
				<div class="modal fade" id="upload-avatar" tabindex="-1" role="dialog" aria-labelledby="upload-avatar-title" aria-hidden="true">
				  	<div class="modal-dialog">
						<div class="modal-content">
					  		<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="upload-avatar-title">Upload new avatar</h4>
					  		</div>

					  		<div class="modal-body">
					    		<p>Please choose a file to upload. JPG, PNG, GIF only.</p>
								<%= form_for(@user, :url => registration_path(@user), :html => {:method => :put, :multipart => true}) do |f| %>
						  			<div class="form-group">
										<label for="file">File input</label>
										<%= f.file_field :avatar %>
										<p class="help-block">Files up to 5Mb only.</p>
						  			</div>

						  			<button type="button" class="hl-btn hl-btn-default" data-dismiss="modal">Cancel</button>
						  			<%= f.submit "Update" %>
								<% end  %>
					  		</div>
						</div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
				<!-- End of modal window -->
            </section>
            <% if user_signed_in? %>
            <section>
                <h3 class="section-title">Update your status</h3>
                <form role="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-info btn-block">Update</button>
                </form>
                <hr>
                <a href="#"class="btn btn-block btn-success">Post a tender</a>
                <hr>
                <%= link_to 'Edit your profile', edit_user_registration_path, class: 'btn btn-block btn-warning' %>
            </section>
            <% end %>
		</div>

		<div class="col-md-8">
			<section>
				<div class="panel panel-success">
                    <div class="panel-heading"><i class="fa fa-user"></i> General Information</div>
                    <table class="table table-striped">
                        <tr>
   							<th>Account Name</th><td><%= @user.name %></td>
                        </tr>

                        <tr>
                            <th>Account Type</th><td><%= @user.account_type.name %></td>
                        </tr>

                        <tr>
                            <th>County</th><td><%= @user.county.name %></td>
                        </tr>

                        <tr>
                            <th>Email</th><td><a href="#"><%= @user.email %></a></td>
                        </tr>

                        <tr>
                            <th>Member Since</th><td><%= @user.created_at %></td>
                        </tr>

                    </table>
                </div>
			</section>
		</div>

	</div>
</div>
