<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
			</button>

			<%= link_to image_tag('logo.png', options={width: "50px", height: "50px"}), root_path, class: "navbar-brand" %>
				
		</div>

		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><%= link_to 'Home', root_path %></li>
				<li><%= link_to 'Features', '#' %></li>
				<li><%= link_to 'Price Plan', '#' %></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
					<li><%= link_to '', '#', class: "glyphicon glyphicon-globe" %></li>
					<li><%= link_to '', '#', class: "glyphicon glyphicon-inbox" %></li>
					<li><%= link_to '', '#', class: "glyphicon glyphicon-bell" %></li>
					<li class="dropdown">
	            		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	            			<%= current_user.email %> <b class="caret"></b>
	            		</a>

	            		<ul class="dropdown-menu">
	            			<li class="account">
	            				<div class="avatar"></div>
	            				<p>
	            					<span class="glyphicon glyphicon-user"></span>
	            					<%= link_to "Profile", user_path(current_user) %>
	            				</p>
	            				<p>
	            					<span class="glyphicon glyphicon-cog"></span>
	            					<%= link_to "Settings", '#' %>
	            				</p>
	            				<hr />
	            				<p>
	            					<span class="glyphicon glyphicon-log-out"></span>
	            					<%= link_to 'Sign Out', destroy_user_session_path, method: "delete" %>
	            				</p>
	            				<div class="clearfix"></div>
	            			</li>
	            		</ul>

            		</li>

					<!-- Search Button -->
			  		<li id="search">
						<div class="search-box" id="search-box">
				  			<div class="input-group">
								<input type="text" class="form-control" placeholder="Search">
								<span class="input-group-btn">
					  				<button class="btn btn-color" type="button">Go!</button>
								</span>
				  			</div>
						</div>
			  		</li>
				  	
				<% else %>

					<li id="sign-in"><%= link_to 'Sign In', new_user_session_path %></li>
				  	<li id="sign-up"><%= link_to 'Sign Up', new_user_registration_path %></li>

				<% end %>
			  
			  	

			</ul>

		</div>
	</div>
</div>